In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2017.csv')

In [3]:
df.keys()

Index(['transactionID', 'gvkey', 'companyName', 'companyISIN', 'companySEDOL',
       'insiderID', 'insiderName', 'insiderRelation', 'insiderLevel',
       'connectionType', 'connectedInsiderName', 'connectedInsiderPosition',
       'transactionType', 'transactionLabel', 'iid', 'securityISIN',
       'securitySEDOL', 'securityDisplay', 'assetClass', 'shares', 'inputdate',
       'tradedate', 'maxTradedate', 'price', 'maxPrice', 'value', 'currency',
       'valueEUR', 'unit', 'correctedTransactionID', 'source',
       'tradeSignificance', 'holdings', 'filingURL', 'exchange'],
      dtype='object')

In [4]:
# What Exchange has had the most transactions in the file?
df['exchange'].value_counts().sort_values(ascending=False)

off exchange                      9588
LSE (UK)                          3146
Euronext Paris (France)           2889
Istanbul (Turkey)                 2444
Warsaw Stock Exchange (Poland)    2107
                                  ...
Lang & Schwarz (Germany)             1
BATS Europe Dark                     1
New York (USA)                       1
CAPPED PRICE                         1
BROKER                               1
Name: exchange, Length: 101, dtype: int64

In [10]:
# In August 2017, which companyName had the highest combined valueEUR?
date = df['inputdate'].astype('str').str.contains('201708')
aug_2017 = df[date == True]
aug_2017 = aug_2017.loc[:, ['companyName', 'valueEUR']].reset_index()

companies = aug_2017['companyName'].unique()

res = {}

for companie in companies:
    res[companie] = aug_2017[aug_2017['companyName'] == companie]['valueEUR'].sum()
    
res = pd.DataFrame(list(res.items()), columns=['company_name', 'value_eur'])
res.sort_values(by='value_eur', ascending=False)

                   company_name     value_eur
145      WHEELSURE HOLDINGS PLC  0.000000e+00
596               NATIONAL GRID  0.000000e+00
570          TETRAGON FINANCIAL  0.000000e+00
534                    DEPA LTD  0.000000e+00
105                 HELICAL PLC  0.000000e+00
..                          ...           ...
50                   AXACTOR AB  4.008254e+07
27   AEROPORTO GUGLIELMO MARCON  6.457114e+07
231           CHRISTIAN DIOR SE  1.249210e+08
603                  EUROSIC SA  9.368633e+08
11               HSBC HLDGS PLC  3.311729e+09

[659 rows x 2 columns]